/* КОЛЬОРИ АКЦЕНТІВ #2196F3
КОЛЬОРИ ЗАГОЛОВКІВ #212121
КОЛІР ТЕКСТУ #757575
КОЛІР ТЕКСТУ ФУТЕРА rgba(255, 255, 255, 0.6);  */

:root {
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --accent-text-color: #2196f3;
  --primary-button-color: #ffffff;
  --footer-hero-color: #2f303a;
}
h1,
h2,
h3,
h4,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

body {
  color: var(--primary-text-color);
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.logo {
  color: #2196f3;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.section-team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-list {
  background-color: var(--primary-button-color);
  border-radius: 0px 0px 4px 4px;

  width: calc(100% - 30px / 4);
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;

  /* outline: 2px solid tomato; */
}

/* main-nav */
.main-nav {
  display: flex;

  align-items: center;
}

.header-main-nav {
  display: flex;
  align-items: center;
}

/* SITE NAV */
.web.logo {
  color: var(--accent-text-color);
}
.studio.logo {
  color: var(--title-text-color);
}

.studio-logo-footer {
  color: var(--primary-button-color);
}

.site-nav {
  display: flex;
  margin-left: 90px;
}

.contact-nav {
  display: flex;
  margin-left: auto;
}
.site-nav .item + .item {
  margin-left: 50px;
}

.contact-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  display: block;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.02em;

  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-text-color);
  cursor: pointer;
}

.contact-nav.list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contact-nav .link {
  color: var(--primary-text-color);
}

.contact-nav .link:hover,
.contact-nav .link:focus {
  color: var(--accent-text-color);
}

.site-nav .link.current {
  color: var(--accent-text-color);
}
/* HERO */
.hero {
  background-color: var(--footer-hero-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
  /* margin-top: 200px; */
  margin-bottom: 30px;

  margin-left: auto;
  margin-right: auto;

  width: 696px;
  color: var(--primary-button-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
/* SECTION */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section.title {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.section.work {
  padding-bottom: 94px;
}

.list.work {
  display: flex;

  gap: 30px;
}
.section.advences {
  padding-top: 94px;
  padding-bottom: 94px;
}

.advences-list .title {
  color: var(--title-text-color);
}

.advences-item {
  flex-basis: calc(100% / 4 - 30px);
}

.advences-title {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advences-text {
  width: 270px;
}

.advences-list {
  color: var(--primary-text-color);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.advences-list {
  display: flex;
  gap: 30px;
}

.member-title {
  margin-top: 30px;
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
}

.member-list {
  margin-top: 0;
  padding-bottom: 30px;
  color: var(--primary-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
}

.list-member {
  display: flex;

  gap: 30px;
  margin-top: 50px;
}
/* BUTTON */

.button.primary {
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 216px;
  display: inline-block;
  border: none;

  color: var(--primary-button-color);
  background-color: var(--accent-text-color);
  cursor: pointer;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
}

.button.primary:focus,
.button.primary:hover {
  background-color: #188ce8;
}

.contact-adress {
  font-style: normal;
}

.footer {
  background-color: var(--footer-hero-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: block;
  align-items: center;
  margin: 0 auto;
}
.site-nav.link {
  color: var(--primary-button-color);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.link.footer {
  color: var(--footer-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-link {
  margin-bottom: 9px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);

  text-decoration: none;
  cursor: pointer;
}

.footer-link:focus,
.footer-link:hover {
  color: var(--accent-text-color);
}

.footer-adress {
  margin-top: 20px;
  margin-bottom: 9px;

  color: var(--primary-button-color);
  font-style: normal;
  text-decoration: none;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.footer-adress:focus,
.footer-adress:hover {
  color: var(--accent-text-color);
}

.footer-item {
  margin-top: 20px;
}
